<div class="onboarding_modal--container">
      <div class="onboarding_content onboarding--step-1 active">
        <div class="onboarding_content--media-container" >
          <svg class="onboarding_close" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M3 3L13 13M13 3L3 13" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <video class="ocm--video" playsinline loop><source src="{{ onboarding_step_1_media }}" type="video/mp4"></video>
        </div>
        <div class="onboarding_content--content-container">
          <div class="oc--copies">
            <div class="oc--header">{{ onboarding_step_1_header }}</div>
            <div class="oc--subcopy">{{ onboarding_step_1_description }}</div>
          </div>
          <div class="oc--footer">
            <div data-step='1' class="ocf--back">Skip</div>
            <div data-step='1' class="ocf--next">Next</div>
          </div>
        </div>
      </div>
      <div class="onboarding_content onboarding--step-2">
        <div class="onboarding_content--media-container" >
          <svg class="onboarding_close" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M3 3L13 13M13 3L3 13" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <video class="ocm--video" playsinline loop><source src="{{ onboarding_step_2_media }}" type="video/mp4"></video>
        </div>
        <div class="onboarding_content--content-container">
          <div class="oc--copies">
            <div class="oc--header">{{ onboarding_step_2_header }}</div>
            <div class="oc--subcopy">{{ onboarding_step_2_description }}</div>
          </div>
          <div class="oc--footer">
            <div data-step='2' class="ocf--back">Back</div>
            <div class="ocf-page">
              <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4" fill="none">
                <circle cx="2" cy="2" r="2" fill="#302723"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4" fill="none">
                <circle cx="2" cy="2" r="2" fill="#302723" fill-opacity="0.25"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4" fill="none">
                <circle cx="2" cy="2" r="2" fill="#302723" fill-opacity="0.25"/>
              </svg>
            </div>
            <div data-step='2' class="ocf--next">Next</div>
          </div>
        </div>
      </div>
      <div class="onboarding_content onboarding--step-3">
        <div class="onboarding_content--media-container" >
          <svg class="onboarding_close" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M3 3L13 13M13 3L3 13" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <video class="ocm--video" playsinline loop><source src="{{ onboarding_step_3_media }}" type="video/mp4"></video>
        </div>
        <div class="onboarding_content--content-container">
          <div class="oc--copies">
            <div class="oc--header">{{ onboarding_step_3_header }}</div>
            <div class="oc--subcopy">{{ onboarding_step_3_description }}</div>
          </div>
          <div class="oc--footer">
            <div data-step='3' class="ocf--back">Back</div>
            <div class="ocf-page">
              <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4" fill="none">
                <circle cx="2" cy="2" r="2" fill="#302723" fill-opacity="0.25"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4" fill="none">
                <circle cx="2" cy="2" r="2" fill="#302723"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4" fill="none">
                <circle cx="2" cy="2" r="2" fill="#302723" fill-opacity="0.25"/>
              </svg>
            </div>
            <div data-step='3' class="ocf--next">Next</div>
          </div>
        </div>
      </div>
      <div class="onboarding_content onboarding--step-4">
        <div class="onboarding_content--media-container" >
          <svg class="onboarding_close" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M3 3L13 13M13 3L3 13" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <video class="ocm--video" playsinline loop><source src="{{ onboarding_step_4_media }}" type="video/mp4"></video>
        </div>
        <div class="onboarding_content--content-container">
          <div class="oc--copies">
            <div class="oc--header">{{ onboarding_step_4_header }}</div>
            <div class="oc--subcopy">{{ onboarding_step_4_description }}</div>
          </div>
          <div class="oc--footer">
            <div data-step='4' class="ocf--back">Back</div>
            <div class="ocf-page">
              <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4" fill="none">
                <circle cx="2" cy="2" r="2" fill="#302723" fill-opacity="0.25"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4" fill="none">
                <circle cx="2" cy="2" r="2" fill="#302723" fill-opacity="0.25"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4" fill="none">
                <circle cx="2" cy="2" r="2" fill="#302723"/>
              </svg>
            </div>
            <div data-step='4' class="ocf--next">Let's go</div>
          </div>
        </div>
      </div>
    </div>