{{ 'main-product-2024.css' | asset_url | stylesheet_tag }}
{{ 'product-variants-2024.css' | asset_url | stylesheet_tag }}
{{ 'product-add-to-bag-2024.css' | asset_url | stylesheet_tag }}
{{ 'mini-product-card.css' | asset_url | stylesheet_tag }}
{{ 'variant-radios.css' | asset_url | stylesheet_tag }}

{% liquid
  assign current_variant = product.selected_or_first_available_variant
  assign item_type = ''
  
  if product.tags contains 'merch'
  else
    assign item_type = 'studios_frame'
  endif

  assign extra_video_desktop = product.metafields.media.extra_video_desktop_mobile.value | first
  assign extra_video_mobile = product.metafields.media.extra_video_desktop_mobile.value | last
%}

<div
  class="main-product-container"
  data-section-id="{{ section.id }}"
  data-section-type="product"
>
  <div class="main-product-wrapper">
    <div class="vto-wrapper">
      {% render 'product-vto' %}
    </div>

    <div>
      {% unless extra_video_desktop == blank %}
        {{ extra_video_desktop | video_tag: autoplay: true, loop: true, muted:true, class: "main-product-video-desktop" }}
      {% endunless %} 

      {% comment %} {% render 'desktop-product-vto' %} {% endcomment %}

      {% render 'desktop-gallery' %}
    </div>

    <div class="product-details">
      <header class="Product__header">
        {% render 'product-information' %}

        {% form 'product', product, class: 'Product__header-actions' %}
          <input type="hidden"
            name="id"
            value="{{ current_variant.id }}"
            class="js-variant-id">
          <input type="hidden" name="properties[_item_type]" value="{{item_type}}">

          {% unless product.has_only_default_variant %}
            <variant-radios
              data-section="{{ section.id }}"
              data-url="{{ product.url }}"
            >
            {%- assign option = product.options_by_name['Product Color'] %}
              {% unless option == blank %}
                <fieldset class="swatch">
                  <legend class="form__label form-label-title"><span class="color-label" style="font-size: 14px: font-family: 'Radio Grotesk'; line-height: 20px; color: #352B27;">{{ current_variant.option1 }}</span></legend>
                  {%- for value in option.values -%}
                    <div class="input-label-wrapper">
                      <input
                        type="radio"
                        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                        name="{{ option.name }}"
                        value="{{ value | escape }}"
                        form="{{ product_form_id }}"
                        {% if option.selected_value == value %}
                          checked
                        {% endif %}
                      >
                      <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-handle-name="{{ value | handleize }}">
                        {{ value }}
                      </label>
                    </div>
                  {%- endfor -%}
                </fieldset>
              {% endunless %} 
            {%- assign option = product.options_by_name['Size'] %}
              {% unless option == blank %}
                <fieldset>
                  <legend class="form__label"><span class="form-label-title">{{ option.name }}</span><span id='option_name' class="form-label-title" style="color: #352B27; margin-left: 8px;">{{ product.selected_or_first_available_variant.option2 }} | </span>
                    {% if product.metafields.product.size_guide != blank %}
            <div class="size-guide-container" style="display: inline-block; margin-bottom: 0px;">
              <div class="size-guide-line">
                <span class="size-guide-modal-trigger--dynamic">
                  <span class="size-guide">Size Guide</span>
                  <span>
                    <svg
                      style="margin: 0 0 -2px 2px;"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d='M8 6.66667C8.17681 6.66667 8.34638 6.7369 8.47141 6.86193C8.59643 6.98695 8.66667 7.15652 8.66667 7.33333V11.3333C8.66667 11.5101 8.59643 11.6797 8.47141 11.8047C8.34638 11.9298 8.17681 12 8 12C7.82319 12 7.65362 11.9298 7.5286 11.8047C7.40357 11.6797 7.33333 11.5101 7.33333 11.3333V7.33333C7.33333 7.15652 7.40357 6.98695 7.5286 6.86193C7.65362 6.7369 7.82319 6.66667 8 6.66667ZM8 5.66667C8.13132 5.66667 8.26136 5.6408 8.38268 5.59055C8.50401 5.54029 8.61425 5.46663 8.70711 5.37377C8.79996 5.28091 8.87362 5.17068 8.92388 5.04935C8.97413 4.92802 9 4.79799 9 4.66667C9 4.53535 8.97413 4.40531 8.92388 4.28398C8.87362 4.16266 8.79996 4.05242 8.70711 3.95956C8.61425 3.8667 8.50401 3.79304 8.38268 3.74279C8.26136 3.69253 8.13132 3.66667 8 3.66667C7.73514 3.66667 7.48112 3.77188 7.29384 3.95917C7.10655 4.14646 7.00133 4.40047 7.00133 4.66533C7.00133 4.9302 7.10655 5.18421 7.29384 5.3715C7.48112 5.55878 7.73514 5.664 8 5.664V5.66667ZM0 8C-1.56548e-08 6.94942 0.206926 5.90914 0.608964 4.93853C1.011 3.96793 1.60028 3.08601 2.34315 2.34315C3.08601 1.60028 3.96793 1.011 4.93853 0.608964C5.90914 0.206926 6.94942 0 8 0C9.05058 0 10.0909 0.206926 11.0615 0.608964C12.0321 1.011 12.914 1.60028 13.6569 2.34315C14.3997 3.08601 14.989 3.96793 15.391 4.93853C15.7931 5.90914 16 6.94942 16 8C16 10.1217 15.1571 12.1566 13.6569 13.6569C12.1566 15.1571 10.1217 16 8 16C5.87827 16 3.84344 15.1571 2.34315 13.6569C0.842855 12.1566 3.16163e-08 10.1217 0 8ZM8 1.33333C6.23189 1.33333 4.5362 2.03571 3.28595 3.28595C2.03571 4.5362 1.33333 6.23189 1.33333 8C1.33333 9.76811 2.03571 11.4638 3.28595 12.714C4.5362 13.9643 6.23189 14.6667 8 14.6667C9.76811 14.6667 11.4638 13.9643 12.714 12.714C13.9643 11.4638 14.6667 9.76811 14.6667 8C14.6667 6.23189 13.9643 4.5362 12.714 3.28595C11.4638 2.03571 9.76811 1.33333 8 1.33333Z' fill='#352B27' />
                    </svg>
                  </span>
                </span>
              </div>
            </div>
            {% render "size-guide-modal", content: product.metafields.product.size_guide.value %}
          {% else %}
                    <span class="size-guide-modal-trigger">
                      <span class="size-guide">Size Guide</span>
                      <span>
                        <svg
                          style="margin: 0 0 -2px 2px;"
                          width="16"
                          height="16"
                          viewBox="0 0 16 16"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path d='M8 6.66667C8.17681 6.66667 8.34638 6.7369 8.47141 6.86193C8.59643 6.98695 8.66667 7.15652 8.66667 7.33333V11.3333C8.66667 11.5101 8.59643 11.6797 8.47141 11.8047C8.34638 11.9298 8.17681 12 8 12C7.82319 12 7.65362 11.9298 7.5286 11.8047C7.40357 11.6797 7.33333 11.5101 7.33333 11.3333V7.33333C7.33333 7.15652 7.40357 6.98695 7.5286 6.86193C7.65362 6.7369 7.82319 6.66667 8 6.66667ZM8 5.66667C8.13132 5.66667 8.26136 5.6408 8.38268 5.59055C8.50401 5.54029 8.61425 5.46663 8.70711 5.37377C8.79996 5.28091 8.87362 5.17068 8.92388 5.04935C8.97413 4.92802 9 4.79799 9 4.66667C9 4.53535 8.97413 4.40531 8.92388 4.28398C8.87362 4.16266 8.79996 4.05242 8.70711 3.95956C8.61425 3.8667 8.50401 3.79304 8.38268 3.74279C8.26136 3.69253 8.13132 3.66667 8 3.66667C7.73514 3.66667 7.48112 3.77188 7.29384 3.95917C7.10655 4.14646 7.00133 4.40047 7.00133 4.66533C7.00133 4.9302 7.10655 5.18421 7.29384 5.3715C7.48112 5.55878 7.73514 5.664 8 5.664V5.66667ZM0 8C-1.56548e-08 6.94942 0.206926 5.90914 0.608964 4.93853C1.011 3.96793 1.60028 3.08601 2.34315 2.34315C3.08601 1.60028 3.96793 1.011 4.93853 0.608964C5.90914 0.206926 6.94942 0 8 0C9.05058 0 10.0909 0.206926 11.0615 0.608964C12.0321 1.011 12.914 1.60028 13.6569 2.34315C14.3997 3.08601 14.989 3.96793 15.391 4.93853C15.7931 5.90914 16 6.94942 16 8C16 10.1217 15.1571 12.1566 13.6569 13.6569C12.1566 15.1571 10.1217 16 8 16C5.87827 16 3.84344 15.1571 2.34315 13.6569C0.842855 12.1566 3.16163e-08 10.1217 0 8ZM8 1.33333C6.23189 1.33333 4.5362 2.03571 3.28595 3.28595C2.03571 4.5362 1.33333 6.23189 1.33333 8C1.33333 9.76811 2.03571 11.4638 3.28595 12.714C4.5362 13.9643 6.23189 14.6667 8 14.6667C9.76811 14.6667 11.4638 13.9643 12.714 12.714C13.9643 11.4638 14.6667 9.76811 14.6667 8C14.6667 6.23189 13.9643 4.5362 12.714 3.28595C11.4638 2.03571 9.76811 1.33333 8 1.33333Z' fill='#352B27' />
                        </svg>
                      </span>
                    </span>
            {% render "apparel-size-guide-modal", content: product.metafields.product.size_guide.value %}
          {% endif %}
                         
                  </legend>
                  {%- for value in option.values -%}
                    <div class="input-label-wrapper">
                      <input
                        type="radio"
                        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                        name="{{ option.name }}"
                        value="{{ value | escape }}"
                        form="{{ product_form_id }}"
                        {% if option.selected_value == value %}
                          checked
                        {% endif %}
                      >
                      <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                        {{ value }}
                      </label>
                    </div>
                  {%- endfor -%}
                </fieldset>
              {% endunless %}
              <script type="application/json">
                {{ product.variants | json }}
              </script>
            </variant-radios>
          {% endunless %}

          {% if current_variant.available %}
            {% render 'product-add-to-bag' %}
          {% else %}
            {% render 'product-join-waitlist-button' with product_id: product.id, current_variant_id: current_variant.id %}
          {% endif %}
        {% endform %}
      </header>

      {% unless extra_video_mobile == blank %}
         {{ extra_video_mobile | video_tag: autoplay: true, loop: true, muted:true, class: "main-product-video-mobile" }}
      {% endunless %}
      {% render 'product-merch-description-details' %}
    </div>
  </div>
</div>

<script src="{{ 'product-information.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-description-accordion.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'mini-product-card.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-product-add-to-bag-handler.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'variant-radios.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'pdp-cta.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Main Product 2024",
  "settings": [
    {
      "type": "header",
      "content": "Product Callout"
    },
    {
      "type": "checkbox",
      "id": "is_callout_hidden",
      "label": "Hide Callout"
    },
    {
      "type": "text",
      "id": "callout_title",
      "label": "Callout Title"
    },
    {
      "type": "richtext",
      "id": "callout_copy",
      "label": "Callout Copy"
    },
    {
      "type": "url",
      "id": "callout_url",
      "label": "Callout URL"
    },
    {
      "type": "text",
      "id": "callout_url_label",
      "label": "Callout URL Label"
    },
    {
      "type": "header",
      "content": "What's included"
    },
    {
      "type": "richtext",
      "id": "whats_included_content",
      "label": "What's Included Content"
    },
    {
      "type": "header",
      "content": "Pair nicely with"
    },
    {
      "type": "product",
      "id": "pair_product_one",
      "label": "Pair Product One"
    },
    {
      "type": "product",
      "id": "pair_product_two",
      "label": "Pair Product Two"
    }
  ],
  "blocks": [
    {
      "name": "Product Made With",
      "type": "product_made_with",
      "settings": [
        {
          "type": "header",
          "content": "Product Made With",
          "info": "To use this block, add block's title to variant metafields."
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "To use this block, add this title to variant metafields."
        },
        {
          "type": "url",
          "id": "title_link",
          "label": "Title Link"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Product 2024"
    }
  ]
}
{% endschema %}
