{{ 'contact-page.css' | asset_url | stylesheet_tag }}

  <section class="section-contact">
      <div class="shell shell-contact">
  
          <div class="section__body">
              <div class="form form--contact form-base form--default contact-form-mx">
                  {% form 'contact' %}
                    
                      <div class="contact-form-body">
                        <div class="contact-form-container">
                            <div class="section__head">
                                {% comment %} <h1>{{ page.title }}</h1> {% endcomment %}
                                <h1>Contact Us</h1>
                    
                                <div class="rte">
                                    {{ page.content }}
                                </div>            
                            </div><!-- /.section__head -->
                            {%- assign attr_name = 'contact.form.name' | t | handle -%}
                                {%- assign attr_name_last = 'contact.form.last_name' | t | handle -%}                    
            
                                {% comment %}<p class="contact-email">{{- 'contact.form.contact_email' | t -}}</p>{% endcomment %}
                                    <p class="contact-email">Leave us a message down below or send us a note at <a href="mailto:hello@sunniesstudios.com">hello@sunniesstudios.com</a></p>
            
                                {%- if form.errors -%}
                                    <div class="form__message form__message--error">
                                        {{- form.errors | default_errors -}}
                                    </div><!-- /.form-notice -->
                                {%- endif -%}
            
                                {%- if form.posted_successfully? -%}
                                    <div class="form__message form__message--success">
                                        {{- 'contact.form.post_success' | t -}}
                                    </div><!-- /.form-alert -->
                                {%- endif -%}
                            <div class="form__body">
                                <span class="form-label-title">{{ 'contact.form.name' | t }}</span>
                                <div class="form__row">
                                    {% comment %} <label class="form__label" for="field-contact-name"></label> {% endcomment %}
                                    <input type="text" id="field-contact-name" class="field" name="contact[{{ attr_name }}]" autocapitalize="words" value="{{ customer.first_name | default: form[attr_name] }}">
                                </div><!-- /.form__row -->
        
                                <span class="form-label-title">{{ 'contact.form.last_name' | t }}</span>
                                <div class="form__row">
                                    {% comment %} <label class="form__label" for="field-contact-name-last">{{ 'contact.form.last_name' | t }}</label> {% endcomment %}
                                    <input type="text" id="field-contact-name-last" class="field" name="contact[{{ attr_name_last }}]" autocapitalize="words" value="{{ customer.last_name | default: form[attr_name_last] }}">
                                </div><!-- /.form__row -->
        
                                <span class="form-label-title">{{ 'contact.form.email' | t }}</span>
                                <div class="form__row">
                                    {% comment %} <label class="form__label" for="field-contact-email">{{ 'contact.form.email' | t }}</label> {% endcomment %}
                                    <input type="email" id="field-contact-email" class="field" name="contact[email]" autocorrect="off" autocapitalize="off" value="{{ customer.email | default: form.email }}" required>
                                </div><!-- /.form__row -->
        
                                <span class="form-label-title">{{ 'contact.form.message' | t }}</span>
                                <div class="form__row contact-message-container">
                                    {% comment %} <label class="form__label" for="field-contact-message">{{ 'contact.form.message' | t }}</label> {% endcomment %}
                                    <textarea rows="10" id="field-contact-message" class="field" name="contact[body]" required>{{ form.body }}</textarea>
                                </div><!-- /.form-row -->
                            </div><!-- /.form__body -->
  
                            <div class="form__actions clear">
                                <button class="btn" type="submit">
                                    {{- 'contact.form.send' | t -}}
                                </button>
                            </div><!-- /.form-actions -->
                      </div>
                      <div class="contact-address-container">
                        <div class="contact-address">
                            <h1>Contact Details</h1>
                            <div class="contact-info-wrapper">
                                <div>
                                <h4>Sunnies Studios HQ</h4>
                                <p>{{section.settings.sunnies__hq}}</p>
                                <div></div>
                                </div>
                                <div>
                                    <h4>Email Address</h4>
                                    <a href="mailto:hello@sunniesstudios.com">hello@sunniesstudios.com</a>
                                    <div></div>
                                </div>
                                <div class="contact-number-wrapper">
                                    <h4>Contact Number</h4>
                                    <span>
                                        <p>Phone</p>
                                        <p>{{section.settings.sunnies__mobile}}</p>
                                    </span>
                                    
                                    <span>
                                        <p>Telephone</p>
                                        <p>{{section.settings.sunnies__tele}}</p>
                                    </span>
                                    <div></div>
                                </div>
                                <div class="contact-socials-wrapper">
                                    <h4>Socials</h4>
                                    <span>
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.13636 0C1.85579 0 0 1.85579 0 4.13636V9.86364C0 12.1442 1.85579 14 4.13636 14H9.86364C12.1442 14 14 12.1442 14 9.86364V4.13636C14 1.85579 12.1442 0 9.86364 0H4.13636ZM4.13636 0.636364H9.86364C11.8002 0.636364 13.3636 2.19975 13.3636 4.13636V9.86364C13.3636 11.8002 11.8002 13.3636 9.86364 13.3636H4.13636C2.19975 13.3636 0.636364 11.8002 0.636364 9.86364V4.13636C0.636364 2.19975 2.19975 0.636364 4.13636 0.636364ZM10.8182 2.54545C10.6494 2.54545 10.4875 2.6125 10.3682 2.73184C10.2489 2.85118 10.1818 3.01304 10.1818 3.18182C10.1818 3.35059 10.2489 3.51245 10.3682 3.63179C10.4875 3.75114 10.6494 3.81818 10.8182 3.81818C10.987 3.81818 11.1488 3.75114 11.2682 3.63179C11.3875 3.51245 11.4545 3.35059 11.4545 3.18182C11.4545 3.01304 11.3875 2.85118 11.2682 2.73184C11.1488 2.6125 10.987 2.54545 10.8182 2.54545ZM7 3.5C5.07077 3.5 3.5 5.07077 3.5 7C3.5 8.92923 5.07077 10.5 7 10.5C8.92923 10.5 10.5 8.92923 10.5 7C10.5 5.07077 8.92923 3.5 7 3.5ZM7 4.13636C8.58531 4.13636 9.86364 5.41469 9.86364 7C9.86364 8.58531 8.58531 9.86364 7 9.86364C5.41469 9.86364 4.13636 8.58531 4.13636 7C4.13636 5.41469 5.41469 4.13636 7 4.13636Z" fill="#554D4A"/>
</svg>

                                        <a href="{{section.settings.ig__link}}">Instagram</a>
                                        </span>
                                    <span>
                                        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.0112 0C3.14279 0 0 3.14279 0 7.0112C0 10.5229 2.59017 13.4291 5.96363 13.9359L6.32963 13.9913V8.46648H4.67331V7.34483H6.32963V5.85533C6.32963 4.93811 6.54973 4.33401 6.9141 3.95501C7.27847 3.576 7.81686 3.38485 8.56607 3.38485C9.16515 3.38485 9.39821 3.42115 9.61986 3.44834V4.36644H8.83994C8.39741 4.36644 8.03434 4.61334 7.8459 4.9422C7.65746 5.27106 7.59879 5.66372 7.59879 6.06384V7.34421H9.55015L9.37649 8.46585H7.59879V14L7.96043 13.9508C11.3818 13.4868 14.0224 10.5572 14.0224 7.0112C14.0224 3.14279 10.8796 0 7.0112 0ZM7.0112 0.637382C10.5352 0.637382 13.385 3.48726 13.385 7.0112C13.385 10.112 11.1656 12.6622 8.23617 13.2363V9.10324H9.92299L10.2933 6.70683H8.23617V6.06384C8.23617 5.73321 8.29667 5.43696 8.39863 5.25903C8.50059 5.08109 8.59888 5.00382 8.83994 5.00382H10.2572V2.87133L9.98088 2.83399C9.78973 2.80812 9.35333 2.74747 8.56607 2.74747C7.70461 2.74747 6.96517 2.98214 6.45474 3.51307C5.9443 4.04401 5.69225 4.83458 5.69225 5.85533V6.70745H4.03592V9.10386H5.69225V13.2163C2.8099 12.6058 0.637382 10.0784 0.637382 7.0112C0.637382 3.48726 3.48726 0.637382 7.0112 0.637382Z" fill="#554D4A"/>
</svg>

                                        <a href="{{section.settings.fb__link}}">Facebook</a></span>
                                    <span>
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_5190_73440)">
<path d="M9.58125 1.53125C7.90672 1.53125 6.545 2.89297 6.545 4.5675C6.545 4.66812 6.57015 4.76656 6.58 4.865C4.50953 4.66703 2.67859 3.66953 1.435 2.14375C1.37703 2.07047 1.28734 2.03109 1.19328 2.03766C1.10031 2.04422 1.01719 2.09781 0.971248 2.17875C0.709842 2.62828 0.559998 3.14562 0.559998 3.70125C0.559998 4.37391 0.800623 4.98969 1.1725 5.495C1.10031 5.46328 1.02156 5.44578 0.953748 5.4075C0.867342 5.36156 0.763436 5.36375 0.679217 5.41406C0.594998 5.46437 0.543592 5.55516 0.542498 5.6525V5.6875C0.542498 6.71891 1.07625 7.61469 1.86375 8.16375C1.855 8.16266 1.84625 8.16594 1.8375 8.16375C1.74125 8.14734 1.6439 8.18125 1.57937 8.25453C1.51484 8.32781 1.49406 8.42953 1.5225 8.5225C1.83531 9.49484 2.63375 10.2375 3.6225 10.5087C2.835 10.9769 1.92172 11.2525 0.936248 11.2525C0.722967 11.2525 0.518436 11.2416 0.314998 11.2175C0.183748 11.2 0.0579669 11.2766 0.014217 11.4012C-0.0306268 11.5259 0.018592 11.6648 0.131248 11.7338C1.39453 12.5442 2.89406 13.02 4.50625 13.02C7.11922 13.02 9.16891 11.9284 10.5437 10.3687C11.9186 8.80906 12.635 6.78344 12.635 4.89125C12.635 4.81141 12.6284 4.73375 12.6262 4.655C13.1392 4.26234 13.5975 3.80188 13.9562 3.26375C14.0273 3.15984 14.0197 3.02094 13.9377 2.92469C13.8567 2.82844 13.72 2.79891 13.6062 2.8525C13.4619 2.91703 13.2934 2.92359 13.1425 2.975C13.3416 2.70922 13.5122 2.42266 13.615 2.1C13.65 1.98953 13.6117 1.86812 13.5209 1.79594C13.4302 1.72484 13.3033 1.71609 13.2037 1.77625C12.7258 2.05953 12.1964 2.25859 11.6375 2.38C11.095 1.8725 10.3808 1.53125 9.58125 1.53125ZM9.58125 2.09125C10.2955 2.09125 10.9408 2.39641 11.3925 2.87875C11.4603 2.94875 11.5598 2.97828 11.655 2.9575C12.0203 2.88531 12.367 2.77922 12.705 2.6425C12.5103 2.905 12.2697 3.12922 11.9875 3.29875C11.8595 3.36109 11.7994 3.50875 11.8464 3.64328C11.8923 3.77672 12.0323 3.85438 12.1712 3.82375C12.4512 3.78984 12.7006 3.67609 12.9675 3.605C12.728 3.86422 12.4655 4.09828 12.18 4.305C12.1023 4.36188 12.0597 4.45375 12.0662 4.55C12.0706 4.66375 12.075 4.77641 12.075 4.89125C12.075 6.64125 11.4034 8.54109 10.1237 9.9925C8.84406 11.4439 6.965 12.46 4.50625 12.46C3.38953 12.46 2.33515 12.2128 1.3825 11.7775C2.56375 11.6867 3.65312 11.2689 4.5325 10.5787C4.62437 10.5055 4.66047 10.383 4.62328 10.2714C4.58609 10.1598 4.48328 10.0833 4.36625 10.08C3.44312 10.0636 2.66984 9.52656 2.2575 8.7675C2.27281 8.7675 2.28594 8.7675 2.30125 8.7675C2.57797 8.7675 2.8514 8.7325 3.10625 8.6625C3.22875 8.62641 3.31297 8.51266 3.30859 8.38469C3.30422 8.25672 3.21344 8.14734 3.08875 8.12C2.09234 7.91875 1.34531 7.10719 1.1725 6.09875C1.45469 6.19609 1.74344 6.27266 2.05625 6.2825C2.18422 6.29016 2.30015 6.21031 2.33953 6.08891C2.3789 5.9675 2.33078 5.83406 2.2225 5.76625C1.5575 5.32109 1.12 4.56312 1.12 3.70125C1.12 3.38188 1.20312 3.08875 1.3125 2.80875C2.7125 4.34547 4.6725 5.36594 6.88625 5.4775C6.97375 5.48187 7.05906 5.44578 7.11594 5.37906C7.17281 5.31125 7.19469 5.22156 7.175 5.13625C7.13234 4.95469 7.105 4.76219 7.105 4.5675C7.105 3.19594 8.20969 2.09125 9.58125 2.09125Z" fill="#554D4A"/>
</g>
<defs>
<clipPath id="clip0_5190_73440">
<rect width="14" height="14" fill="white"/>
</clipPath>
</defs>
</svg>

                                    <a href="{{section.settings.tw__link}}">Twitter</a></span>
                                    <span>
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.99998 0C3.13786 0 0 3.13786 0 6.99998C0 10.2614 2.23441 13.0074 5.2591 13.7819C5.34385 13.8036 5.43374 13.7911 5.50937 13.7471C5.58501 13.7032 5.64033 13.6312 5.6634 13.5468C5.6634 13.5468 6.05674 12.1016 6.44074 10.6777C6.83875 10.8867 7.26611 10.9889 7.67251 10.9889C9.73716 10.9889 11.3105 9.22343 11.3105 6.92967C11.3105 4.69102 9.45633 2.99999 7.138 2.99999C4.30119 2.99999 2.69075 4.97613 2.69075 7.10155C2.69075 7.97497 3.04799 8.97027 3.73632 9.55076C3.76972 9.57947 3.80849 9.60127 3.85037 9.61491C3.89225 9.62855 3.93642 9.63376 3.98033 9.63023C4.02423 9.6267 4.067 9.6145 4.10617 9.59434C4.14533 9.57419 4.18011 9.54647 4.2085 9.51279C4.23689 9.47911 4.25832 9.44014 4.27156 9.39813C4.2848 9.35612 4.28958 9.3119 4.28563 9.26803C4.28168 9.22416 4.26907 9.18151 4.24854 9.14254C4.22801 9.10357 4.19995 9.06906 4.16601 9.04099C3.69701 8.64548 3.35741 7.77478 3.35741 7.10155C3.35741 5.29897 4.5995 3.66666 7.138 3.66666C9.13967 3.66666 10.6439 5.05366 10.6439 6.92967C10.6439 8.9279 9.36318 10.3222 7.67251 10.3222C7.15022 10.3222 6.56426 10.104 6.1315 9.59438C5.69874 9.08471 5.4008 8.2703 5.50845 7.02082C5.5442 6.6063 5.66775 6.25547 5.82941 6.03058C5.99107 5.8057 6.16336 5.70637 6.38215 5.70637C6.56686 5.70637 6.65817 5.76114 6.73892 5.90103C6.81967 6.04092 6.86894 6.30089 6.79946 6.67186C6.77614 6.79585 6.56781 7.61538 6.31183 8.58071C6.30059 8.62303 6.29779 8.66715 6.3036 8.71055C6.30941 8.75395 6.32371 8.79578 6.34569 8.83366C6.39007 8.91015 6.46302 8.96588 6.54849 8.98859C6.63396 9.01129 6.72495 8.99911 6.80144 8.95473C6.87793 8.91035 6.93366 8.8374 6.95636 8.75193C7.21297 7.78425 7.40827 7.04334 7.45506 6.79425C7.54458 6.31623 7.50564 5.89555 7.31639 5.5677C7.12714 5.23984 6.76643 5.0397 6.38215 5.0397C5.93227 5.0397 5.54201 5.28756 5.28775 5.64126C5.03349 5.99496 4.8883 6.45438 4.84439 6.96353C4.72537 8.34504 5.05953 9.3616 5.62368 10.026C5.69884 10.1145 5.778 10.1958 5.86001 10.2715C5.49382 11.6319 5.18745 12.7558 5.11327 13.028C2.54186 12.2229 0.666665 9.84091 0.666665 6.99998C0.666665 3.49813 3.49813 0.666665 6.99998 0.666665C10.5018 0.666665 13.3333 3.49813 13.3333 6.99998C13.3333 10.5018 10.5018 13.3333 6.99998 13.3333C6.95581 13.3327 6.91196 13.3408 6.87097 13.3573C6.82998 13.3738 6.79267 13.3982 6.76122 13.4292C6.72976 13.4603 6.70478 13.4972 6.68773 13.538C6.67068 13.5787 6.6619 13.6225 6.6619 13.6666C6.6619 13.7108 6.67068 13.7545 6.68773 13.7953C6.70478 13.836 6.72976 13.873 6.76122 13.904C6.79267 13.935 6.82998 13.9595 6.87097 13.976C6.91196 13.9924 6.95581 14.0006 6.99998 14C10.8621 14 14 10.8621 14 6.99998C14 3.13786 10.8621 0 6.99998 0Z" fill="#554D4A"/>
</svg>

                                        <a href="{{section.settings.pn__link}}">Pinterest</a></span>
                                    <span>
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.33333 0C1.04915 0 0 1.04915 0 2.33333V11.6667C0 12.9509 1.04915 14 2.33333 14H11.6667C12.9509 14 14 12.9509 14 11.6667V2.33333C14 1.04915 12.9509 0 11.6667 0H2.33333ZM2.33333 0.777778H11.6667C12.5307 0.777778 13.2222 1.4693 13.2222 2.33333V11.6667C13.2222 12.5307 12.5307 13.2222 11.6667 13.2222H2.33333C1.4693 13.2222 0.777778 12.5307 0.777778 11.6667V2.33333C0.777778 1.4693 1.4693 0.777778 2.33333 0.777778ZM8.16059 3.10503C8.10952 3.10583 8.05911 3.11668 8.01223 3.13696C7.96535 3.15724 7.92293 3.18656 7.88738 3.22323C7.85183 3.25991 7.82386 3.30323 7.80505 3.35071C7.78625 3.3982 7.77698 3.44893 7.77778 3.5V8.55556C7.77778 9.41959 7.08626 10.1111 6.22222 10.1111C5.35818 10.1111 4.66667 9.41959 4.66667 8.55556C4.66667 7.8187 5.17527 7.20722 5.85764 7.04254C5.90731 7.03047 5.95412 7.00873 5.9954 6.97857C6.03667 6.94841 6.0716 6.91042 6.09819 6.86676C6.12478 6.8231 6.14251 6.77463 6.15037 6.72412C6.15823 6.67361 6.15606 6.62205 6.14399 6.57237C6.13192 6.5227 6.11019 6.47589 6.08003 6.43462C6.04987 6.39334 6.01187 6.35842 5.96821 6.33183C5.92456 6.30524 5.87609 6.28751 5.82558 6.27965C5.77507 6.27179 5.7235 6.27396 5.67383 6.28602C4.6482 6.53356 3.88889 7.45996 3.88889 8.55556C3.88889 9.83974 4.93804 10.8889 6.22222 10.8889C7.50641 10.8889 8.55556 9.83974 8.55556 8.55556V5.37912C9.0571 5.89611 9.75102 6.22222 10.5 6.22222C10.5515 6.22295 10.6027 6.21343 10.6505 6.19421C10.6983 6.175 10.7419 6.14647 10.7786 6.11028C10.8153 6.0741 10.8444 6.03098 10.8643 5.98344C10.8842 5.93589 10.8944 5.88487 10.8944 5.83333C10.8944 5.7818 10.8842 5.73077 10.8643 5.68323C10.8444 5.63568 10.8153 5.59257 10.7786 5.55638C10.7419 5.5202 10.6983 5.49167 10.6505 5.47245C10.6027 5.45324 10.5515 5.44372 10.5 5.44444C9.48493 5.44444 8.55556 4.55357 8.55556 3.5C8.55637 3.44791 8.54671 3.39618 8.52715 3.34789C8.50759 3.29961 8.47853 3.25574 8.44169 3.2189C8.40485 3.18206 8.36098 3.153 8.3127 3.13344C8.26441 3.11388 8.21268 3.10422 8.16059 3.10503Z" fill="#554D4A"/>
</svg>

                                        <a href="{{section.settings.tt__link}}">Tik Tok</a></span>
                                </div>
                            </div>
                        </div>
                        </div>
                      </div> 
                  {% endform %}
              </div><!-- /.form -->
          </div><!-- /.section__body -->
      </div><!-- /.shell -->
  </section>
  <!-- /.section-contact -->

  {%- schema -%}
    {
    "name": "Contact Page Setting",
    "settings": [
    {
    "type": "text",
    "id": "sunnies__hq",
    "label": "Sunnies Studios HQ",
    "default": "10 Calle Industria, Bagumbayan, Quezon City 1110, Metro Manila, Philippines"
    },
    {
    "type": "text",
    "id": "sunnies__mobile",
    "label": "Contact Number - Phone",
    "default": "+63 917 123 4567"
    },
    {
    "type": "text",
    "id": "sunnies__tele",
    "label": "Contact Number - Telephone",
    "default": "(02) 0835 7777"
    },
    {
    "type": "url",
    "id": "ig__link",
    "label": "Instragram link"
    },
    {
    "type": "url",
    "id": "fb__link",
    "label": "Facebook link"
    },
    {
    "type": "url",
    "id": "tw__link",
    "label": "Twitter link"
    },{
    "type": "url",
    "id": "pn__link",
    "label": "Pinterest link"
    },{
    "type": "url",
    "id": "tt__link",
    "label": "Tiktok link"
    }
    ],
    "presets": [
    {
    "name": "Contact Page Setting"
    }
    ]
    }
    {%- endschema -%}