{% comment %} {{ 'main-product.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ 'main-product-2024.css' | asset_url | stylesheet_tag }}
{{ 'flask-main-product.css' | asset_url | stylesheet_tag }}
{{ 'product-variants-flask.css' | asset_url | stylesheet_tag }}
{{ 'product-add-to-bag.css' | asset_url | stylesheet_tag }}
{{ 'product-add-to-bag-2024.css' | asset_url | stylesheet_tag }}

<script src="{{ 'flask-form.js' | asset_url }}" defer="defer"></script>

{% liquid
  assign current_variant = product.selected_or_first_available_variant
  assign selected_color = current_variant.option1 | handleize
  assign specific_lifestyle = 'lifestyle-' | append: selected_color
  assign item_type = ''
  assign isIconView = false
  assign product_measurements = 'initial'

  if product.tags contains 'merch' or product.type == 'Gift Cards'
    assign item_type = 'merch'

    if product.tags contains 'icon-view'
      assign isIconView = false
    else
      assign isIconView = true
    endif
  elsif product.tags contains 'flask'
    assign item_type = 'flask'
  else 
    assign item_type = 'studios_frame'
    assign isIconView = false
  endif
  
  assign extra_video_desktop = product.metafields.media.extra_video_desktop_mobile.value | first
  assign extra_video_mobile = product.metafields.media.extra_video_desktop_mobile.value | last
  
  assign is_preorder = false
  if current_variant.inventory_policy == 'continue' and current_variant.inventory_quantity <= 0
    assign is_preorder = true
  endif


  if product.metafields.custom.flask_body_component != blank
    assign body_component = product.metafields.custom.flask_body_component.value
    assign body_component_var = body_component.selected_or_first_available_variant
    for variant in body_component.variants
      assign var_title_down = variant.title | downcase
      if var_title_down contains 'bundle'
        assign body_component_var = variant
        break
      endif
    endfor
  endif

  if product.metafields.custom.flask_cap_component != blank
    assign cap_component = product.metafields.custom.flask_cap_component.value
    assign cap_component_var = cap_component.selected_or_first_available_variant
    for variant in cap_component.variants
      assign var_title_down = variant.title | downcase
      if var_title_down contains 'bundle'
        assign cap_component_var = variant
        break
      endif
    endfor
  endif

  if product.metafields.custom.flask_loop_component != blank
    assign loop_component = product.metafields.custom.flask_loop_component.value
    assign loop_component_var = loop_component.selected_or_first_available_variant
    for variant in loop_component.variants
      assign var_title_down = variant.title | downcase
      if var_title_down contains 'bundle'
        assign loop_component_var = variant
        break
      endif
    endfor
  endif

  if product.metafields.custom.flask_boot_component != blank
    assign boot_component = product.metafields.custom.flask_boot_component.value
    assign boot_component_var = boot_component.selected_or_first_available_variant
    for variant in boot_component.variants
      assign var_title_down = variant.title | downcase
      if var_title_down contains 'bundle'
        assign boot_component_var = variant
        break
      endif
    endfor
  endif
  
%}

<div
  class="main-product-container"
  data-section-id="{{ section.id }}"
  data-section-type="product">
  <div class="main-product-wrapper">
    <div>
      <div class="swym-button swym-add-to-wishlist swym-pdp-icon"
      data-with-epi="true"
      data-swaction="addToWishlist"
      data-product-id="{{ product.id }}"
      data-variant-id="{{ product.variants[0].id }}"
      data-product-url="{{ shop.url }}{{ product.url }}">{% comment %}<img src="https://cdn.shopify.com/s/files/1/0268/4141/5798/files/Heart_Stroke.svg?v=1733389077" style="height: 18px; width: 20px;" alt="">{% endcomment %}
    </div>
    {% render 'desktop-product-vto' %}
    </div>

    {% render 'desktop-gallery' %}

    <div class="product-details">

    {% render 'product-information' %}

      <header class="Product__header">
        
      <div class='variant-name'>
        <span class="">Classic</span>
        <p class="color-text-classic"></p>
      </div>
      <div class="Product__header-actions-wrapper"> 
        
        <div class="product-variant-flask-swatches">
        {% for variant in product.variants %}
          {% unless variant.metafields.custom.limited == true %}
            <label class="radio-flask-label" for="{{ variant.title | downcase }}">
              <input class="flask-swatch" id="{{ variant.title | downcase }}" data-color_type="classic" type='radio' name="variant" data-color="{{ variant.title | downcase }}" data-handle-name="{{ variant.title | handle }}" style="background-color: {{ variant.metafields.custom.swatch_color }}" data-url="{{ variant.url }}">
            </label>
          {% endunless %}
        {% endfor %}
        </div>

      </div>

      <div class='variant-name'>
        <span class="">Limited</span>
        <p class="color-text-limited"></p>
      </div>
      <div class="Product__header-actions-wrapper"> 
        
        <div class="product-variant-flask-swatches">
        {% for variant in product.variants %}
          {% if variant.metafields.custom.limited == true %}
            <label class="radio-flask-label" for="{{ variant.title | downcase }}">
              <input class="flask-swatch" id="{{ variant.title | downcase }}" data-color_type="limited" type='radio' name="variant" data-color="{{ variant.title | downcase }}" data-handle-name="{{ variant.title | handle }}" style="background-color: {{ variant.metafields.custom.swatch_color }}" data-url="{{ variant.url }}">
            </label>
          {% endif %}
        {% endfor %}
        </div>

      </div>

          {% if product.metafields.product.size_guide != blank %}
            <div class="size-guide-container">
              <div class="size-guide-line">
                <span class="size-guide-modal-trigger--dynamic">
                  <span class="size-guide">Measurements</span>
                  <span>
                    <svg
                      style="margin: 0 0 -2px 2px;"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d='M8 6.66667C8.17681 6.66667 8.34638 6.7369 8.47141 6.86193C8.59643 6.98695 8.66667 7.15652 8.66667 7.33333V11.3333C8.66667 11.5101 8.59643 11.6797 8.47141 11.8047C8.34638 11.9298 8.17681 12 8 12C7.82319 12 7.65362 11.9298 7.5286 11.8047C7.40357 11.6797 7.33333 11.5101 7.33333 11.3333V7.33333C7.33333 7.15652 7.40357 6.98695 7.5286 6.86193C7.65362 6.7369 7.82319 6.66667 8 6.66667ZM8 5.66667C8.13132 5.66667 8.26136 5.6408 8.38268 5.59055C8.50401 5.54029 8.61425 5.46663 8.70711 5.37377C8.79996 5.28091 8.87362 5.17068 8.92388 5.04935C8.97413 4.92802 9 4.79799 9 4.66667C9 4.53535 8.97413 4.40531 8.92388 4.28398C8.87362 4.16266 8.79996 4.05242 8.70711 3.95956C8.61425 3.8667 8.50401 3.79304 8.38268 3.74279C8.26136 3.69253 8.13132 3.66667 8 3.66667C7.73514 3.66667 7.48112 3.77188 7.29384 3.95917C7.10655 4.14646 7.00133 4.40047 7.00133 4.66533C7.00133 4.9302 7.10655 5.18421 7.29384 5.3715C7.48112 5.55878 7.73514 5.664 8 5.664V5.66667ZM0 8C-1.56548e-08 6.94942 0.206926 5.90914 0.608964 4.93853C1.011 3.96793 1.60028 3.08601 2.34315 2.34315C3.08601 1.60028 3.96793 1.011 4.93853 0.608964C5.90914 0.206926 6.94942 0 8 0C9.05058 0 10.0909 0.206926 11.0615 0.608964C12.0321 1.011 12.914 1.60028 13.6569 2.34315C14.3997 3.08601 14.989 3.96793 15.391 4.93853C15.7931 5.90914 16 6.94942 16 8C16 10.1217 15.1571 12.1566 13.6569 13.6569C12.1566 15.1571 10.1217 16 8 16C5.87827 16 3.84344 15.1571 2.34315 13.6569C0.842855 12.1566 3.16163e-08 10.1217 0 8ZM8 1.33333C6.23189 1.33333 4.5362 2.03571 3.28595 3.28595C2.03571 4.5362 1.33333 6.23189 1.33333 8C1.33333 9.76811 2.03571 11.4638 3.28595 12.714C4.5362 13.9643 6.23189 14.6667 8 14.6667C9.76811 14.6667 11.4638 13.9643 12.714 12.714C13.9643 11.4638 14.6667 9.76811 14.6667 8C14.6667 6.23189 13.9643 4.5362 12.714 3.28595C11.4638 2.03571 9.76811 1.33333 8 1.33333Z' fill='#352B27' />
                    </svg>
                  </span>
                </span>
              </div>
            </div>
            {% render "size-guide-modal", content: product.metafields.product.size_guide.value %}
          {% endif %}
          <div class="customize-flask-button desktop" disabled>Build your Flask</div>
          <div class="mobile-cta--wrapper">
            <div class="customize-flask-button mobile" disabled>Build your Flask</div>
          </div>
          <div class="space-liner"></div>
          
      </header>
      {% unless extra_video_mobile == blank %}
         {{ extra_video_mobile | video_tag: autoplay: true, loop: true, muted:true, class: "main-product-video-mobile" }}
      {% endunless %}
{% render 'product-description-details' %}
    </div>
  </div>
</div>

{% render 'flask-customizer' with background_color: section.settings.customizer_background-color,
 loop_component: loop_component, 
 body_component: body_component, 
 cap_component: cap_component, 
 boot_component: boot_component, 
 main_bottle: product.metafields.custom.main_flask_body_product.value, 
 main_cap: product.metafields.custom.main_flask_cap_product.value, 
 main_loop: product.metafields.custom.main_flask_loop_product.value,
 onboarding_step_1_media: section.settings.onboarding_step_1_media,
 onboarding_step_1_header: section.settings.onboarding_step_1_header,
 onboarding_step_1_description: section.settings.onboarding_step_1_description,
 onboarding_step_2_media: section.settings.onboarding_step_2_media,
 onboarding_step_2_header: section.settings.onboarding_step_2_header,
 onboarding_step_2_description: section.settings.onboarding_step_2_description,
 onboarding_step_3_media: section.settings.onboarding_step_3_media,
 onboarding_step_3_header: section.settings.onboarding_step_3_header,
 onboarding_step_3_description: section.settings.onboarding_step_3_description,
 onboarding_step_4_media: section.settings.onboarding_step_4_media,
 onboarding_step_4_header: section.settings.onboarding_step_4_header,
 onboarding_step_4_description: section.settings.onboarding_step_4_description %}

<script src="{{ 'product-information.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-description-accordion.js' | asset_url }}" defer="defer"></script>
<!-- <script src="{{ 'main-product-add-to-bag-handler.js' | asset_url }}" defer="defer"></script> -->
<script src="{{ 'pdp-cta.js' | asset_url }}" defer="defer"></script>
                        
<script src="{{ 'mini-product-card.js' | asset_url }}" defer="defer"></script>
<script>
  const randomColors = {{ shop.metaobjects.flask_preset_colors['flask_preset_colors'].preset_combinations.value |  json }}
</script>
<script src="{{ 'flask-customizer.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'flask-form.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Flask Main Product",
  "settings": [
    {
      "type": "header",
      "content": "Product Callout"
    },
    {
      "type": "checkbox",
      "id": "is_callout_hidden",
      "label": "Hide Callout"
    },
    {
      "type": "text",
      "id": "callout_title",
      "label": "Callout Title"
    },
    {
      "type": "text",
      "id": "callout_copy",
      "label": "Callout Copy"
    },
    {
      "type": "url",
      "id": "callout_url",
      "label": "Callout URL"
    },
    {
      "type": "text",
      "id": "callout_url_label",
      "label": "Callout URL Label"
    },
    {
      "type": "header",
      "content": "What's included"
    },
    {
      "type": "richtext",
      "id": "whats_included_content",
      "label": "What's Included Content"
    },
    {
      "type": "header",
      "content": "Pair nicely with"
    },
    {
      "type": "product",
      "id": "pair_product_one",
      "label": "Pair Product One"
    },
    {
      "type": "product",
      "id": "pair_product_two",
      "label": "Pair Product Two"
    },
    {
      "type": "header",
      "content": "Onboarding Step One"
    },
    {
      "type": "url", 
      "id": "onboarding_step_1_media",
      "label": "Step 1 Video"
    },
    {
      "type": "text", 
      "id": "onboarding_step_1_header",
      "label": "Step 1 Header"
    },
    {
      "type": "text", 
      "id": "onboarding_step_1_description",
      "label": "Step 1 Description"
    },
    {
      "type": "header",
      "content": "Onboarding Step Two"
    },
    {
      "type": "url", 
      "id": "onboarding_step_2_media",
      "label": "Step 2 Video"
    },
    {
      "type": "text", 
      "id": "onboarding_step_2_header",
      "label": "Step 2 Header"
    },
    {
      "type": "text", 
      "id": "onboarding_step_2_description",
      "label": "Step 2 Description"
    },
    {
      "type": "header",
      "content": "Onboarding Step Three"
    },
    {
      "type": "url", 
      "id": "onboarding_step_3_media",
      "label": "Step 3 Video"
    },
    {
      "type": "text", 
      "id": "onboarding_step_3_header",
      "label": "Step 3 Header"
    },
    {
      "type": "text", 
      "id": "onboarding_step_3_description",
      "label": "Step 3 Description"
    },
    {
      "type": "header",
      "content": "Onboarding Step Four"
    },
    {
      "type": "url", 
      "id": "onboarding_step_4_media",
      "label": "Step 4 Video"
    },
    {
      "type": "text", 
      "id": "onboarding_step_4_header",
      "label": "Step 4 Header"
    },
    {
      "type": "text", 
      "id": "onboarding_step_4_description",
      "label": "Step 4 Description"
    }
  ],
  "blocks": [
    {
      "name": "Product Made With",
      "type": "product_made_with",
      "settings": [
        {
          "type": "header",
          "content": "Product Made With",
          "info": "To use this block, add block's title to variant metafields."
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "To use this block, add this title to variant metafields."
        },
        {
          "type": "url",
          "id": "title_link",
          "label": "Title Link"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Flask Main Product"
    }
  ]
}
{% endschema %}