{{ 'product-recommendation.css' | asset_url | stylesheet_tag }}

<div class="product-recommendation-container">
  <div
    class="product-recommendations"
    data-url="
      {{ routes.product_recommendations_url }}?section_id={{ section.id
      }}&product_id={{ product.id }}&limit=4&intent=related
    "
  >
    {%- if recommendations.performed and recommendations.products_count > 0 -%}
      <h2>You may also like</h2>
      <div class="product-recommendation-items">
        {% for product in recommendations.products %}
          {% if product.type != 'Lens' %}
            {% assign block_product_type = product.type | downcase %}

            {% if block_product_type == 'readers frame' %}
              {% render 'readers-product-card' with product as product_data %}
            {% else %}
              {% render 'product-card' with product as product_data %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {%- endif -%}
  </div>
</div>

<script src="{{ 'product-recommendation.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Product Recommendation",
  "presets": [
    {
      "name": "Product Recommendation"
    }
  ]
}
{% endschema %}
