{{ "section-categories-2024-a.css" | asset_url | stylesheet_tag }}

<div class="page-width-40-a">
  <div class="heading-wrapper">
    {% if section.settings.collection_header_link != 'blank' %}
      <a href="{{ section.settings.collection_header_url }}">{{ section.settings.collection_header_text }}</a>
    {% endif %}
  </div>
  
    <div class="category-wrapper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="category-media-wrapper swiper-slide">
              {% if block.settings.category_media contains '.mp4' %}
                <video
                  class=""
                  autoplay
                  loop
                  muted
                  playsinline>
                  <source src="{{ block.settings.category_media }}" type="video/mp4">
                </video>
              {% else %}
                <img
                  class=""
                  src="{{ block.settings.category_media }}"
                  loading="lazy">
              {% endif %}
              <div class="category-link-wrapper">
                <a class="category-link" href="{{ block.settings.category_link }}">{{ block.settings.cta_text }}</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>

{% schema %}
{
  "name": "Categories-2024-Cart",
  "settings": [
    {
      "type": "text",
      "id": "collection_header_text",
      "label": "Link Text"
    },
    {
      "type": "url",
      "id": "collection_header_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "title-heading",
      "label": "Header",
      "default": "New In"
    }
  ],
  "blocks": [
    {
      "type": "category_block",
      "name": "Category Block",
      "settings": [
        {
          "type": "url",
          "id": "category_media",
          "label": "Category Block Image/Video",
          "info": "only .mp4 format for video"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id": "category_link",
          "label": "Category Link"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Categories-2024-Cart"
    }
  ]
}
{% endschema %}