{%- assign _section = section.settings -%}
{%- assign section_title = _section.title -%}

{%- if section.blocks.size > 0 -%}
	<section class="section-3-blocks section-3-blocks--stores">
		<div class="shell">
			{%- if section_title != blank -%}
				<div class="section__head">
					<h2>{{ section_title | newline_to_br }}</h2>
				</div><!-- /.section__head -->
			{%- endif -%}

			<div class="section__body">
				<div class="blocks-3 blocks-3--stores">
					<div class="blocks-3__items slider slider-featured-products">
						{%- for block in section.blocks -%}
						  {%- assign _block = block.settings -%}
						  {%- assign block_image = _block.image -%}
						  {%- assign block_title = _block.title -%}
						  {%- assign block_url = _block.url -%}
						  <div class="blocks-3__item">
							  <div class="block-3 block-3--stores">
							  	<a href="{{block_url}}"></a>

								  {%- if block_image != blank -%}
									  <img src="{{block_image | img_url: '900x'}}" style="margin-bottom: 25px;" />
								  {%- endif -%}

								  {%- if block_title != blank -%}
								  	<h4>{{block_title}}</h4>
								  {%- endif -%}
							  </div><!-- /.block-3 -->
						  </div><!-- /.blocks-3__item -->
						{%- endfor -%}
					</div><!-- /.blocks-3__items -->
				</div><!-- /.blocks-3 -->
			</div><!-- /.section__body -->
		</div><!-- /.shell -->
	</section><!-- /.section-3-blocks -->
{%- endif -%}
<style>
  
#{{ page.handle }} .header{
  background: transparent;
}

#{{ page.handle }} .header.header-is-fixed,
#{{ page.handle }} .header:hover{
  background: #fff;
}

@media (min-width: 768px) {

  #{{ page.handle }} .header
  {
    background: transparent;
  }

  #{{ page.handle }} .header.header-is-fixed,
  #{{ page.handle }} .header:hover
  {
    background: #fff;
  }
}
</style>
{% schema %}
{
	"name": "Our stores",
	"settings": [
		{
			"type": "textarea",
			"id": "title",
			"label": "Title"
		}
	],
	"max_blocks": 6,
	"blocks": [
		{
			"type": "store",
			"name": "Store",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "url",
					"id": "url",
					"label": "Url"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Our stores"
		}
	]
}
{% endschema %}
